<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.CreateOrderFromStoreFrontTest"/>
      <class name="tests.CreateOrderFromDashboardTest"/>
      <class name="tests.AddNewCustomerTest"/>
      <class name="tests.AddCurrencyTest"/>
      <class name="tests.ChangeDefaultCurrencyTest"/>
      <class name="tests.ReturnOrderStoreFrontTest"/>
      <class name="tests.ReturnOrderDashboardTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->